.title_home {
  position: relative;
  margin-bottom: 0px;
}
.post_home {
  position: relative;
  text-align: justify;
  margin-top: 15px;
  font-size: larger;
}

.linia {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  height: 1px;
  background-color: darkgrey;
  margin-top: 25px;
  margin-bottom: 25px;
}

.post_home > p {
  margin: 0em;
}

#newsContent {
  width: 710px;
}

@media (max-width: 991px) {
  #newsContent {
    width: auto;
  }
}
