#infoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: visible;
}

#pdf {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
#pdf.pdfLoaded {
  opacity: 1;
}

#infoContentButtons {
  margin: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#infoContentButtons .btn {
  margin: 10px;
  min-width: 15rem;
}

#infoBtnText {
  transition: opacity 200ms;
}

#infoContent .alert {
  text-align: justify;
  margin: 15px;
}

.react-pdf__Page {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 991px) {
  #infoContentButtons {
    flex-direction: column;
    width: 100%;
  }

  #infoContentButtons .btn {
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: none;
  }

  #infoContent .custom-alert {
    background-color: rgb(198, 206, 81);
  }
}

.btn-breathing {
  animation: breathing 1s infinite;
}

#responseAlert {
  max-height: 0;
  transition: max-height 1000ms;
  overflow: hidden;
}

#responseAlert.responseAlertVisible {
  max-height: 10rem;
  overflow: visible;
}

@keyframes breathing {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
