#map {
  position: relative;
  height: 600px;
  margin-top: 15px;
  margin-bottom: -15px;
  width: 100%;
}

#mapwrap {
  position: absolute;
  border: 0;
  left: -15px;
}

.googleMap {
  position: absolute;
  width: 740px;
  height: 600px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "leftHeader rightHeader"
    "leftAddress rightAddress"
    "leftAdditional rightAdditional"
    "leftButton rightButton";
  grid-template-columns: 1fr 1fr; /* Each column takes up half the available space */
}

@media (max-width: 991px) {
  .grid-container {
    grid-template-areas:
      "leftHeader"
      "leftAddress"
      "leftButton"
      "rightHeader"
      "rightAddress"
      "rightAdditional"
      "rightButton"
      "leftAdditional";
    grid-template-columns: 1fr;
  }

  .googleMap {
    width: 100%;
  }
  #map {
    margin-bottom: 0;
  }
  #mapwrap {
    left: 0;
    width: 100%;
  }
  .rightHeader {
    margin-top: 15px;
  }
  .leftAdditional {
    margin-top: 15px;
  }
  .rightAdditional {
    margin-top: 15px;
  }
}

.leftHeader {
  grid-area: leftHeader;
}
.leftAddress {
  grid-area: leftAddress;
}
.leftAdditional {
  grid-area: leftAdditional;
}
.leftButton {
  grid-area: leftButton;
}
.rightHeader {
  grid-area: rightHeader;
}
.rightAddress {
  grid-area: rightAddress;
}
.rightAdditional {
  grid-area: rightAdditional;
}
.rightButton {
  grid-area: rightButton;
}

.ldr {
  position: absolute;
  transform: translateY(30px);
  opacity: 1 !important;
  width: 100%;
}
