#msze {
  position: absolute;
  top: 210px;
  left: 50%;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  transform: translateX(-600px);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1rem;
  transition: left 800ms, transform 1000ms;
}

#msze span {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

#msze a {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

#msze a:visited {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  #msze {
    display: none;
  }
}

.mszeHidden {
  left: 400px !important;
}

.mszeHist {
  transform: translateX(-465px) !important;
}

.mapContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(240, 240, 240);
  position: fixed;
  z-index: 5 !important;
  transition: opacity 200ms;
}

.mapTransitioning {
  opacity: 0;
}

.mapHidden {
  opacity: 0;
  display: none;
}

.mapVisible {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  #menuContainer {
    display: flex;
    flex-direction: column;
  }

  #logo {
    order: 1;
  }
}

.leftPanelMap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
