@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");

body {
  font-family: "Times New Roman", Tinos, Times, serif;
  background-color: #8a9ee5;
  overflow-y: scroll;
}

#maincontent {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15px;
  background-color: #eaefff;
  overflow: hidden;
  padding: 15px;
  width: 740px;
  height: calc(var(--height, 0px) + 15px);
  min-height: calc(var(--height, 0px) + 15px);
  transition: width 1s, height 1s, margin-top 1s, background-color 1s,
    min-height 1s;
}

#maincontent.mainContentHistoria {
  width: 500px;
}

.hide {
  transform: translateY(-150px);
}

.fadeout {
  opacity: 0;
  animation: fadeout 400ms 1;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadein {
  opacity: 1;
  animation: fadein 1000ms 1;
}

#maincontent.mainContentOgloszenia {
  padding: 0;
  overflow: auto;
  margin-top: -165px;
  width: 100vw;
  height: calc(100vh - 40px);
  background-color: rgb(150, 150, 150);
}

.quickfadein {
  opacity: 1;
  animation: fadein 200ms 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#top {
  transition: transform 1s;
}

@media (max-width: 991px) {
  #maincontent {
    left: 0 !important;
    width: calc(100% - 40px) !important;
    top: 0px;
    margin: 20px;
  }

  #maincontent.mainContentOgloszenia {
    background-color: white;
    height: fit-content;
    margin-top: auto;
    min-height: 100vh;
  }

  .hide {
    transform: translateY(0) !important;
  }

  .hide #logo {
    min-height: 0;
  }

  #infoContent {
    top: 50px;
  }

  .none {
    display: none;
  }
}
