body {
  font-family: "Times New Roman";
  background-color: #8a9ee5;
  overflow-y: scroll;
}

#maincontent {
  position: relative;
  top: 15px;
  background-color: #eaefff;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  padding: 15px;
  width: var(--end_width);
  height: var(--end_height);
  transition: width var(--resize_duration), height var(--resize_duration);
}

#maincontent > #fade > div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(var(--end_width) - 30px);
}

.hide {
  transform: translateY(-150px);
}

#infoContent {
  height: calc(var(--end_height) - 30px);
}

.fadeout {
  opacity: 0;
  animation: fadeout 400ms 1;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fadein {
  opacity: 1;
  animation: fadein 2000ms 1;
}

.quickfadein {
  opacity: 1;
  animation: fadein 200ms 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#top {
  transition: transform 1s;
}

@media (max-width: 991px) {
  #maincontent {
    left: 0 !important;
    transform: translateX(0) !important;
    width: calc(100% - 40px) !important;
    height: auto !important;
    top: 0px;
    margin: 20px;
    animation: none !important;
  }

  #maincontent > #fade > div {
    left: 0 !important;
    transform: translateX(0) !important;
    width: auto !important;
  }

  #infoContent {
    display: none !important;
  }

  .hide {
    transform: translateY(0) !important;
  }

  .none {
    display: none;
  }
}
