body {
  font-family: "Times New Roman";
  background-color: #8a9ee5;
  overflow-y: scroll;
}

.z1 {
  z-index: -1;
}

#map {
  position: "relative";
  height: "600px";
  margin-top: "15px";
  margin-bottom: "-15px";
}

.ldr {
  position: absolute;
  transform: translateY(30px);
  opacity: 1 !important;
  width: 100%;
}

#maincontent {
  position: relative;
  top: 15px;
  background-color: #eaefff;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  padding: 15px;
  width: var(--end_width);
  height: var(--end_height);
  transition: width var(--resize_duration), height var(--resize_duration);
}

#maincontent > #fade > div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(var(--end_width) - 30px);
}

#ogloszenia {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(209, 209, 209);
  opacity: 0;
}

.hide {
  transform: translateY(-150px);
  animation: hide 1s 1;
}

@keyframes hide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}

.show {
  transform: translateY(0);
  animation: show 1s 1;
}

@keyframes show {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

#fix {
  width: 710px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#infoContent {
  height: calc(var(--end_height) - 30px);
}

.fadeout {
  opacity: 0;
  animation: fadeout 400ms 1;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fadein {
  opacity: 1;
  animation: fadein 2000ms 1;
}

.quickfadein {
  opacity: 1;
  animation: fadein 200ms 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  background-color: #737d9c;
}

.navbar-dark .navbar-nav .nav-link {
  margin-left: 1px;
  min-width: 200px;
  text-align: center;
  background-color: #737d9c;
  color: cornsilk;
  font-weight: normal;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #626c8b;
  color: white;
}

.last {
  margin-right: 1px;
}

.navbar-dark .navbar-nav {
  position: relative;
  left: 50%;
  background-color: #848ead;
  transform: translateX(-50%);
}

.navbar-dark {
  padding: 0;
}

.navbar-brand {
  display: none;
}

#logo {
  position: relative;
  width: 100%;
  min-height: 150px;
  background-color: #3f4d7f;
}

#logo a {
  color: white;
}

.logobigger {
  font-size: 3rem;
}

.logonapis {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (max-width: 991px) {
  #maincontent {
    left: 0 !important;
    transform: translateX(0) !important;
    width: calc(100% - 40px) !important;
    height: auto !important;
    top: 0px;
    margin: 20px;
    animation: none !important;
  }

  #maincontent > #fade > div {
    left: 0 !important;
    transform: translateX(0) !important;
    width: auto !important;
  }

  #fix {
    width: auto !important;
    left: 0 !important;
    transform: translateX(0) !important;
  }

  #infoContent {
    display: none !important;
  }

  .hide {
    transform: translateY(0) !important;
    animation: none !important;
  }

  .show {
    transform: translateY(0) !important;
    animation: none !important;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .navbar-brand {
    display: block !important;
  }

  .navbar-dark .navbar-toggler {
    margin: 5px;
  }
  #logo {
    flex: 1;
    position: relative;
  }
  .menu {
    flex: 1;
    position: relative;
  }

  .navbar-dark .navbar-nav {
    background-color: #737d9c;
  }

  .logonapis {
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
  }
  .last {
    position: relative;
    margin-bottom: 10px;
  }

  .none {
    display: none;
  }
}

/* Historia */

#tresc {
  width: 500px;
  padding: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.nowe {
  font-family: Times New Roman;
  color: #000000;
  font-size: 24pt;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6;
  margin-bottom: 0;
}
.nowe1 {
  font-family: Times New Roman;
  color: #000000;
  font-size: 24pt;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8;
  margin-bottom: 0;
}
.podtytul {
  font-family: Verdana;
  color: #000000;
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
}
.podtytul1 {
  font-family: Arial;
  color: #000000;
  font-size: 9pt;
  font-weight: bold;
  margin: 0;
}
td {
  font-family: Verdana;
  font-size: 9pt;
  color: #000000;
  word-spacing: 0;
  font-weight: bold;
  margin: 0 none;
  font-weight: bold;
  margin: 0;
}
.bold {
  font-weight: bold;
  text-align: left;
}
.normal {
  text-align: left;
  font-weight: normal;
}
.tabela1 {
  font-family: Verdana;
  font-size: 8pt;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5;
}
.naglowek {
  font-family: Verdana;
  color: #ffffff;
  font-size: 8pt;
  font-weight: bold;
}
.naglowek1 {
  font-family: Verdana;
  color: #ffffff;
  font-size: 7pt;
  font-weight: bold;
}
.okladka {
  font-family: Verdana;
  font-size: 8pt;
  color: #000000;
  font-weight: normal;
}
.tabela2 {
  font-family: Verdana;
  font-size: 9pt;
  color: #000000;
  font-weight: bold;
}
.podpis {
  font-family: Verdana;
  font-size: 8pt;
  color: #000000;
  text-align: left;
  font-weight: bold;
}
.tekst {
  font-family: Verdana;
  font-size: 10pt;
  text-align: Left;
  word-spacing: 0;
}

.podpis1 {
  text-align: right;
}
#mobilecontent {
  display: none;
}

@media (max-width: 991px) {
  #mobilecontent {
    display: block !important;
  }
  #tresc {
    display: none !important;
  }
}

/* Ogloszenia  - część nadal moe być w sekcji ogólnej*/

#modalDemandNew {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  text-align: justify;
  min-width: 90% !important;
}

#modalOneSignal {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  text-align: justify;
  min-width: 90% !important;
}

.next {
  text-align: center;
  width: 200px;
  position: fixed;
  bottom: 15px;
  padding: 10px;
  right: 2%;
  color: gold;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.demandNew {
  text-align: center;
  position: fixed;
  top: 55px;
  padding: 10px;
  left: 2%;
  color: gold;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.iCannotSee {
  text-align: center;
  position: fixed;
  bottom: 15px;
  padding: 10px;
  left: 2%;
  color: gold;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

#pdf {
  width: 100%;
  height: 100%;
}

#pdf1 {
  width: 100%;
  height: 100%;
}

.afternext::after {
  content: "Nast\0119pny tydzie\0144";
}

.afterback::after {
  content: "Wr\00F3\0107";
}

@media (max-width: 991px) {
  .next {
    position: relative !important;
    width: 100%;
    right: 0 !important;
    bottom: 0 !important;
  }

  #modalDemandNew button {
    width: 100%;
    margin-left: 0 !important;
  }
  .demandNew {
    position: relative !important;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
  }

  .iCannotSee {
    position: relative !important;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
  }

  #ogloszenia {
    position: relative !important;
    top: 0 !important;
    z-index: 1 !important;
    margin-bottom: 20px;
  }

  #pdf {
    position: relative !important;
  }

  #pdf1 {
    position: relative !important;
  }
}

/* Homepage */

.title_home {
  position: relative;
  text-align: justify;
  margin-bottom: 0px;
}
.post_home {
  position: relative;
  text-align: justify;
  margin-top: 15px;
  font-size: larger;
}

.linia {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  height: 1px;
  background-color: darkgrey;
  margin-top: 25px;
  margin-bottom: 25px;
}

.post_home > p {
  margin: 0em;
}

/*kontakt*/
#mobile {
  display: none;
}

@media (max-width: 991px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
}

/* lewy panel */
#msze {
  position: absolute;
  top: 210px;
  left: 50%;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  transform: translateX(-600px);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1rem;
  transition: left 800ms, transform 1000ms;
}

#msze span {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

#msze a {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

#msze a:visited {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  #msze {
    display: none;
  }
}

.mszeHidden {
  left: 400px !important;
}

.mszeHist {
  transform: translateX(-465px) !important;
}

#kosMapContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(240, 240, 240);
  position: fixed;
  display: none;
  z-index: 9999 !important;
}

#kapMapContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(240, 240, 240);
  position: fixed;
  display: none;
  z-index: 9999 !important;
}
